*{
    margin: 0px;
    padding: 0px;
  
}
body{
    background-image: url(plants.gif);
}
.bg-light {
   
    border-radius: 30px;
    background-color: #0f78e4!important;
}
.tiles
{

    border-radius: 20px;
    box-shadow: 4px 8px 16px white;
    margin: 5px;
    color: white;
}
p{
    font-family: 'Allerta', sans-serif;
   
}

.tiles:hover
{

    transition: 1s;
    margin: 5px;
    color: white;
    color: black;
    background: white;
    cursor: pointer;
    font-size: large;
    font-family: 'Piedra', cursive;
   
}

